* * * * * echo "Hello world" >> /var/log/cron.log 2>&1
0 * * * * python3 /usr/src/app/script.py --payment-driver=erc20 --payment-network=polygon >> /var/log/cron.log 2>&1
# An empty line is required at the end of this file for a valid cron file.